*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
    letter-spacing: 1px;
    width: 100%;
    background: #4AA499 ;
    padding: 15px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    letter-spacing: 1px;
    width: 100%;
    background: #4AA499 ;
    padding: 15px;
    color: rgb(10, 10, 10);
    text-align: center;
    text-transform: uppercase;
}
#container{
    background: #5C8681;
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container form{
    background: #FFFF;
    width: 500px;
    padding: 10px;
}

#container form img{
    margin: 15px auto;
    text-align: center;
    display: block;
}

#container form input{
    width: 90%;
    padding: 5px;
    font-size: 16pt;
    display: block;
    margin:25px auto;
    border-radius: 5px;
    border:1px solid #CCC;
    text-align: center;
}

#container form input[type="submit"]{
    background:#39847B ;
    padding: 10px;
    color: #FFF;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

#container form button{
    width: 90%;
    padding: 5px;
    font-size: 16pt;
    display: block;
    margin:25px auto;
    border-radius: 5px;
    border:1px solid #CCC;
    text-align: center;
}

#container form button[type="button"]{
    background:#39847B ;
    padding: 10px;
    color: #FFF;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

.alert{
    font-family: 'Arial';
    font-size: 16px;
    text-align: center;
}